
/* --- Sección Acerca de --- */
#acercade {
    padding: 40px 20px;
}
#acercade p {
    margin: 10px auto;
    line-height: 1.6;
    font-size: 1.1rem;
    text-align: justify;
    color: #f5f5f5; /* Blanco suave */
}
#acercade h2 {
    color: yellow;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 0 0 10px yellow;
    letter-spacing: 2px;
    margin-bottom: 18px;
}

/* --- Sección Localización --- */
#localizacion {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0 60px;
}

#localizacion h2 {
    color: yellow;
    text-align: center;
    font-size: 1.8rem;
    text-shadow: 0 0 12px yellow;
    margin-bottom: 20px;
    margin-top: 5px;
    letter-spacing: 2px;
}

