

/* Localización */
#localizacion {
    width: 100%;
    margin: 40px 0 60px;
}
#localizacion .acerca{
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
}

#localizacion iframe {
    width: 100%;
    max-width: 100%;
}

@media (max-width: 600px) {
    #localizacion {
        flex-direction: column;  
        align-items: center;   
        text-align: center;
    }
    #localizacion iframe {
        width: 100%;
        max-width: 100%;
        height: auto;
    }
}