
h2 {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 18px;
}

h2:hover {
    transform: scale(1.2);
    text-shadow: 0 0 15px var(--color-amarillo);
    transition: transform 0.3s ease, text-shadow 0.3s ease;
}

img {
    height: 300px;
    width: 400px;
    border-radius: 15px;
    margin: 20px 0;
    height: auto;
}

img:hover {
    transform: scale(1.2);
    text-shadow: 0 0 15px var(--color-amarillo);
    transition: transform 0.3s ease, text-shadow 0.3s ease;
}

/* BANNER */

.banner {
    width: 100%;
    height: 700px;
    background-size: cover;
    background-position: center;
    animation: cambiarFondo 20s infinite;
}

@keyframes cambiarFondo {
    0%, 31% {
        background-image: url("../images/portada-caballeros.jpg");
        filter: brightness(100%);
    }
    31%, 33% {
        filter: brightness(60%) blur(1px);
    }
    34%, 63% {
        background-image: url("../images/portada-shinchan.jpg");
        filter: brightness(100%);
    }
    63%, 66% {
        filter: brightness(60%) blur(1px);
    }
    67%, 100% {
        background-image: url("../images/portada-naruto.jpg");
        filter: brightness(100%);
    }
}

.section-anime ul {
    padding: 0;
    margin: 20px auto;
    font-weight: bold;
}

/* Caballeros Section */

#CaballerosSection h2 {
    color: var(--color-amarillo);
    text-shadow: 0 0 20px var(--color-amarillo);
}
#CaballerosSection img {
    box-shadow: 0 0 20px var(--color-amarillo);
}

/* Shin Chan Section */

#ShinchanSection h2 {
    color: var(--rojo-claro);
    text-shadow: 0 0 20px var(--rojo-claro);
}
#ShinchanSection img {
    box-shadow: 0 0 20px var(--rojo-claro);
}

/* Naruto Section */

#NarutoSection h2 {
    color: var(--color-naranja); 
    text-shadow: 0 0 20px var(--color-naranja);
}
#NarutoSection img {
    box-shadow: 0 0 20px var(--color-naranja);
}
