
/* RESET GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* VARIABLES DE COLOR */
:root {
    --color-bg: #000;
    --color-text: #fff;
    --footer-amarillo: #fdfd96;
    --color-amarillo: #ffff00;

    --rojo-claro: #ff6b6b;
    --rojo-oscuro:#c0392b;

    --color-naranja: #f57c00;
    --color-gris: #333;
    --font-main: 'Orbitron', sans-serif;
}

/* FUENTES PERSONALIZADAS */
@font-face {
    font-family: 'Orbitron';
    src: url('../fonts/orbitron/orbitron-light.otf') format('opentype');
    font-weight: 300;
}
@font-face {
    font-family: 'Orbitron';
    src: url('../fonts/orbitron/orbitron-medium.otf') format('opentype');
    font-weight: 500;
}
@font-face {
    font-family: 'Orbitron';
    src: url('../fonts/orbitron/orbitron-bold.otf') format('opentype');
    font-weight: 700;
}
@font-face {
    font-family: 'Orbitron';
    src: url('../fonts/orbitron/orbitron-black.otf') format('opentype');
    font-weight: 900;
}

/* TIPOGRAFÍA GENERAL */
body {
    background-color: var(--color-bg);
    color: var(--color-text);
    font-family: sans-serif;
    text-align: center;
}

/* TÍTULOS */
h1, h2, h3 {
    font-family: var(--font-main);
}
h1 { font-weight: 900; }
h2 { font-weight: 700; }
h3 { font-weight: 500; }

/* PÁRRAFOS */
p {
    line-height: 1.6;
    font-size: 1.1rem;
    text-align: left;
    color: var(--color-text);
    margin: 10px auto;
}

/* ENLACES */
a {
    text-decoration: none;
    color: inherit;
}

/* LISTAS */
ul, ol {
    list-style: none;
}

/* IMÁGENES */
img {
    border-radius: 15px;
    margin: 20px 0;
    width: 100%;
    max-width: 350px;
    height: auto;
    box-shadow: 0 0 20px var(--color-yellow); /* por defecto amarillo */
}

/* MAIN */
main {
    margin-top: 5%;
}

/* SECCIONES GENERALES */
section {
    padding: 40px 20px;
}
