
/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* VARIABLES DE COLOR */
:root {
    --color-bg: #000;
    --color-text: #fff;
    --footer-amarillo: #fdfd96;
    --color-amarillo: #ffff00;

    --rojo-claro: #ff6b6b;
    --rojo-oscuro:#c0392b;

    --color-naranja: #f57c00;
    --color-gris: #333;
    --font-main: 'Orbitron', sans-serif;
}

/* FUENTES DESCARGADAS */
@font-face {
    font-family: 'Orbitron';
    src: url('../fonts/orbitron/orbitron-light.otf') format('opentype');
    font-weight: 300;
}
@font-face {
    font-family: 'Orbitron';
    src: url('../fonts/orbitron/orbitron-medium.otf') format('opentype');
    font-weight: 500;
}
@font-face {
    font-family: 'Orbitron';
    src: url('../fonts/orbitron/orbitron-bold.otf') format('opentype');
    font-weight: 700;
}
@font-face {
    font-family: 'Orbitron';
    src: url('../fonts/orbitron/orbitron-black.otf') format('opentype');
    font-weight: 900;
}

/* TIPOGRAFÍA GENERAL */
body {
    background-color: var(--color-bg);
    color: var(--color-text);
    font-family: sans-serif;
    text-align: center;
}

/* ENCABEZADOS */
h1, h2, h3 {
    font-family: var(--font-main);
}
h1 { font-weight: 900; }
h2 { font-weight: 700; }
h3 { font-weight: 500; }

h1 {
    color: var(--color-amarillo); 
    text-shadow: 0 0 10px var(--color-amarillo); 
    font-weight: 900;
    letter-spacing: 2px;
    font-size: 3.5rem;
    text-align: center;
    margin: 30px 0;
}

h2 {
    color: var(--color-amarillo);
    text-transform: uppercase;
    text-align: center;
    text-shadow: 0 0 10px var(--color-amarillo);
    letter-spacing: 2px;
    margin-bottom: 25px;
}

/* PÁRRAFOS */
p {
    line-height: 1.5;
    font-size: 1.1rem;
    text-align: left;
    color: var(--color-text);
    margin: 10px auto;
}

/* ENLACES GENERAL */
a {
    text-decoration: none;
    color: inherit;
}

/* LISTAS GENERAL */
ul, ol {
    list-style: none;
}

/* IMÁGENES GENERAL */
img {
    border-radius: 15px;
    margin: 20px 0;
    width: 100%;
    max-width: 350px;
    height: auto;
    box-shadow: 0 0 20px var(--color-amarillo); 
}

/* MAIN */
main {
    margin-top: 5%;
}

/* SECCIONES GENERAL */
section {
    padding: 40px 20px;
}
