
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    margin: 1%;
    font-family: 'Orbitron', sans-serif;
    color: #fdfd96;
    text-shadow: 0 0 12px #ffff00;
    font-size: 30px;
    text-align: center;
}

body {
    background-color: #111;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
    color: #fff;
    font-family: 'Orbitron', sans-serif;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

nav {
    display: flex;
    position: relative;
    box-shadow: 0 4px 10px yellow,
                0 -4px 10px yellow;
    justify-content: center;
}

nav ul {
    list-style: none;
    margin: 0%;
    padding:1%;
    display: flex;
    gap: 60px;
    position: relative;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 1.1em;
    transition: all 0.3s ease;
    padding: 8px 8px;
}

nav a:hover {
    background-color: #111;
    color: yellow;
    text-shadow: 0 0 10px yellow;
}

nav:hover {
    background-color: #111;
}

.submenu {
    position: relative;
}

.submenu .desplegable {
    display: none;
    position: absolute;
    top: 100%;
    left: -99%;
    transform: none;
    background: none;
    padding: 0%;
    margin: 0%;
    box-shadow: none;
    border-radius: 0px;
    min-width: 250px;
    width: 100%;
    z-index: 100;
}

.submenu:hover .desplegable {
    display: block;
}
.desplegable a {
    display: block;
    padding: 4px 0;
    background: transparent;
    color: #fff;
    white-space: nowrap;
}
.desplegable a:hover {
    color: yellow;
    text-shadow: 0 0 8px yellow;
    background: transparent;
}

#footer {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fdfd96;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 20px 40px;
    box-shadow: 0 -4px 10px yellow;
    border-top: 2px solid yellow;
    font-family: 'Orbitron', sans-serif;
    flex-wrap: wrap;
}

.footer-izd p {
    margin: 0;
    font-size: 1rem;
    text-align: left;
    color: #fdfd96;
}

.footer-centro {
    text-align: center;
}

.footer-centro h3 {
    color: yellow;
    margin-bottom: 8px;
    text-shadow: 0 0 8px yellow;
}

.footer-centro ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.footer-centro ul li a img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    box-shadow: 0 0 10px yellow;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.footer-centro ul li a img:hover {
    transform: scale(1.2);
    box-shadow: 0 0 20px yellow;
}


.footer-der p {
    margin: 0;
    font-size: 1rem;
    text-align: right;
    color: #fdfd96;
}
