
/* NAV */

nav {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    position: relative;
    box-shadow: 0 -4px 10px var(--color-amarillo), 0 4px 10px var(--color-amarillo);
}

nav ul {
    margin: 0;
    padding: 1%;
    display: flex;
    justify-content: center;
    gap: 70px;
    width: 90%;
}

nav a {
    color: var(--color-texto);
    font-weight: bold;
    font-size: 1.1em;
    padding: 8px 8px;
    transition: transform 0.3s ease, text-shadow 0.3s ease;
    display: inline-block;
    background-color: transparent;
}

nav a:hover {
    transform: scale(1.2);
    color: var(--color-amarillo);
    text-shadow: 0 0 10px var(--color-amarillo);
    background-color: transparent;
}

@media (max-width: 768px) {
    nav ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
        padding: 15px;
        width: 100%;
    }

    nav a {
        display: block;
        text-align: center;
        padding: 10px 0;
        font-size: 0.9em;
    }
}

@media (max-width: 480px) {
    nav ul {
        grid-template-columns: 1fr;
        gap: 0;
    }

    nav a {
        padding: 15px 0;
        font-size: 1.1em;
    }
}


/* FOOTER */

#footer {
    color: var(--color-amarillo);
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 20px 40px;
    box-shadow: 0 -4px 10px var(--color-amarillo), 0 4px 10px var(--color-amarillo);
    gap: 20px;

}

.footer-izd {
    justify-self: flex-start;
}

.footer-centro {
    justify-self: center;
    text-align: center;
}

.footer-centro ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.footer-centro ul li a img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.footer-centro ul li a img:hover {
    transform: scale(1.2);
    box-shadow: 0 0 12px var(--color-amarillo);
}

.footer-der {
    justify-self: flex-end;
    text-align: right;
}

/* FOOTER RESPONSIVE */
@media (max-width: 600px) {
    #footer {
        grid-template-columns: 1fr;
        text-align: center;
    }
    .footer-izd, .footer-der {
        justify-self: center;
        text-align: center;
    }
}
