* {
    background-color: black;
    color: white;
}
h1 {
    color: blue;
}
h3 {
    color: yellow;
}

#caballerosSection {
    background-color: aliceblue;
    text-align: center;
    color: red ;
 }
